.navigation {
  padding: 0 20px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 500;
}
